# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Configuración de Editores (VS Code)
.vscode/
*.code-workspace

# Logs y archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias (por si decides usar npm más adelante)
node_modules/

# Archivos de entorno/secretos
.env
.env.local